# Helpers
# //////////////////////////////////////////////////////////////////////

alias pbssh="cat ~/.ssh/id_rsa.pub | pbcopy"
alias nuketrash="sudo rm -rvf ~/.Trash/.* && sudo rm -rvf ~/.Trash/*"
alias show-hidden="defaults write com.apple.finder AppleShowAllFiles YES"
alias add-spacer="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type=\"spacer-tile\";}' && killall Dock"
alias upd="bubu && csu --preview && cgu && npm update -g && yarn global upgrade && zplug update"

# Setups
# //////////////////////////////////////////////////////////////////////

# Setup aboards
alias aboard_local="captain abandon && valet start"
alias aboard_half="aboard_local && services stop mysql@5.7 && services stop redis && captain up -d"
alias aboard_docker="captain abandon && valet stop && captain up -d"

# Shortcuts
# //////////////////////////////////////////////////////////////////////

alias space="df -hl"
alias fs="du -sh * | sort -n"
alias rmf="rm -rf"

# Vendor aliases
# //////////////////////////////////////////////////////////////////////

# Git
# function git(){hub $@} # Prevents autocompletion bug
alias gfr="git-fresh -ftl origin"

# Git Flow aliases updated for AVH
alias gflfp="git flow feature publish"
alias gflhp="git flow hotfix publish"
alias gflbs="git flow bugfix start"
alias gflbf="git flow bugfix finish"
alias gflbp="git flow bugfix publish"

# Brew
alias cask="brew cask"
alias services="brew services"

# PHP
alias remigrate="php artisan migrate:refresh --seed"
alias recompose="rm -rf vendor composer.lock && composer install"
alias reyarn="rm -rf node_modules yarn.lock package.lock && yarn"

# Editors
alias pstt="pstorm ."
