function usephp() {
  php="php$1"

  brew link $php --overwrite
  brew services stop php70
  brew services stop php56
  brew services start $php
  echo "Switched to $php"

  brew services restart nginx
}
