
# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

# Reclone a repository
function reclone() {
  default_branch=master
  repository=$1
  branch=${2:$default_branch}

  rm -rf $repository
  git clone -b $2 $repository -p
}

# Reclone a repository and go to it
function rego() {
  repository=$1
  branch=$2

  reclone $repository $branch
  cd $repository
}

# Switch PHP version
function usephp() {
  php="php$1"

  ln -sf `brew list $php | grep bin/php -m 1` /usr/local/bin/php
  ln -sf `brew list $php | grep libphp` /usr/local/lib/libphp5.so
  brew link $php --overwrite
  echo "Switched to $php"
  echo `brew info $php | head -1`

  killall httpd
  sudo apachectl -k stop
  sudo apachectl -k start
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh
  else
    local arg=-sh
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@"
  else
    du $arg .[^.]* *
  fi
}

# Fixes a repository with PSR and tabs
function psrtabs() {
  php-cs-fixer fix $1 --level="all" --fixers="-indentation,-new_with_braces"
}

# Mount a remote server to local
function shmount() {
  host=$1
  folder=""

  # Pick correct folder depending on host
  if [ $host = 'Madewithlove/Nobrow/Staging' ]; then
    folder="/opt/www/vs08056/web/nobrow.moja.madewithlovehq.com"
  fi

  sshfs $host:$folder ~/Sites/_remote -o transform_symlinks,noappledouble,auto_cache,reconnect,defer_permissions,negative_vncache,volname=_remote
  cd ~/Sites/_remote
  echo "Mounted $1"
}

# Unmount a remote server
shumount() {
  umount ~/Sites/_remote
}