[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  go = checkout -B
  st = status -sb

[user]
  name = Maxime Fabre
  email = ehtnam6@gmail.com
[github]
  user = Anahkiasen
[core]
  excludesfile = ~/.gitignore_global

[color]
  ui = auto
  interactive = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[credential]
  helper = osxkeychain
[branch "master"]
  remote = origin
  merge = refs/heads/master
[push]
  default = matching
[branch]
  autosetuprebase = always

[diff]
[difftool]
[difftool "Kaleidoscope"]
[difftool "sourcetree"]
  cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool]
  keepBackup = true

[pretty]
  # tut: http://gitimmersion.com/lab_10.html
  # ref: http://linux.die.net/man/1/git-log
  # Result: <short-sha> <commit-message> (<pointer-names>) -- <commit-author-name>; <relative-time>
  nice = "%C(yellow)%h%C(reset) %C(white)%s%C(cyan)%d%C(reset) -- %an; %ar"
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
